# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\class_328\xiaomi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
